<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {{> header}}

<!--     
    Citation for the following function: 
    Date: 10/12/2023
    Partially based on: code from Dr. Curry
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<main>
    {{!-- DISPLAY TABLE WITH ALL DATA --}}
    <div id="browse">
    <table id="carelogsmedicalcares_table">
        <thead>
                
        {{!-- DISPLAY COLUMN TITLES --}}
            <tr>
                <th width=4%></th>
                <td width=4%>id</th>
                <th>idCareLog</th>
                <th>idMedicalCare</th>
            </tr>
        </thead>
        <tbody>
                
             {{!-- DISPLAY ROWS --}}
            {{#each carelogsmedicalcares}}
            <tr>
                <td></td>
                <td class="id">{{this.idCareLogMedicalCare}}</td>
                <td>{{this.idCareLog}}</td>
                <td>{{this.idMedicalCare}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</main>
