<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>


<body class="image">
  <img src="/entry_image.PNG" alt="castle" />
  <h1 style="color: #c2becf">databats.</h1>
  <button
    class="modify confirm"
    type="button"
    onClick="enterDatabase()"
  >enter</button>
</body>


{{! EMBEDED JAVASCRIPT DOCUMENTS }}