<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{> header}}

<!--     
    Citation for the following function: 
    Date: 10/12/2023
    Partially based on: code from Dr. Curry
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<main>
  {{!-- DISPLAY TABLE WITH ALL DATA --}}
  <div id="browse">
    <table id="persons_table">
      {{!-- DISPLAY COLUMN TITLES --}}
      <thead>
        <tr>
          <th width=60px><button class="modify" onClick="newRecord()">add</button></th>
          <th width=30px>id</th>
          <th width=83%>person name</th>
          <th width=80px></th>
        </tr>
      </thead>

      {{!-- DISPLAY ROWS --}}
      <tbody>
        {{#each persons}}
        <tr>
          <td></td>
          <td class="id">{{this.idPerson}}</td>
          <td>{{this.name}}</td>
          <td><button class="modify cancel" onclick="deletePerson({{this.idPerson}})">delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  {{!-- DISPLAY TABLE TO INSERT DATA --}}
  <div id="insert" style="display: none">
    <form id="add_person_form_ajax">
      <table class="insert_table">
        {{!-- DISPLAY COLUMN TITLES --}}
        <tr>
          <th>name</th>
        </tr>
        {{!-- DISPLAY ROWS --}}
        <tr>
          <td>
            <textarea name="name" id="input_name" placeholder="max. 30 characters" class="nameinput"></textarea>
          </td>
        </tr>
      </table>
      <div class="space"></div>
      <div class="actions">
        <button class="modify confirm" type="submit" id="addPerson">confirm</button>
        <button class="modify cancel" type="button" onClick="browseRecords()">cancel</button>
      </div>
    </form>
  </div>
</main>


{{!-- EMBEDED JAVASCRIPT DOCUMENTS --}}
<script src="js/add_person.js"></script>
<script src="js/delete_person.js"></script>
