/*
  I created some parts of this CSS-file in my CS290 Web Dev class, checked with TA, it's acceptable as long as it's my own
  work and I leave a comment on here. (Ruth Kistler)
  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");

/*   ----- Variables  -----  */
:root {
  --almost-black: #323747;
  --dusty-purple: #c2becf;
  --almost-white: #dddff2;
  --kinda-berry: #996164;
  --pale-red: #a86f3a;
  --nice-green: #659ea6;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {
  /* Can alternatively define in html {} or :root {} */
  font-family: "Roboto", sans-serif;
  background-color: var(--almost-black);
  width: 100%;
  margin-top: 90px;
  padding: 30px;
  min-height: 400px;
  margin-bottom: 100px;
  overflow-x: hidden;
  clear: both;
}

.about {
  color: var(--dusty-purple)
}

/*  ----- Page layout blocks -----  */
header,
footer {
  font-family: "Amatic SC", cursive;
  background-color: var(--almost-black);
  color: var(--dusty-purple);
  position: fixed;
  width: 100%;
  margin: 0%;
  padding: 1%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header {
  height: 90px;
  top: 0;
  padding-left: 2.5%;
  padding-right: 40px;
}

header * {
  display: inline;
}

.headerimg {
  height: 90px;
}

footer {
  bottom: 0;
  z-index: 999;
  align-items: left;
}

main {
  width: 95%;
}
section {
}
article {
  background-color: var(--dusty-purple);
  margin: 2%;
  margin-left: 1%;
  padding: 2%;
  scroll-margin-top: 90px;
  border-radius: 30px;
}
#topic1 {
}
#topic2 {
}
div {
}
aside {
}

/*  ----- Navigation ----- Override text links for navigation only.  */

.main_nav {
  text-align: left;
  font-family: "Amatic SC", cursive;
  text-decoration: none;
  flex-grow: 1;
}

.main_nav a {
  background-color: var(--dusty-purple);
  color: var(--almost-black);
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  padding: 0px 24px;
  margin-right: 10px;
  height: 50px;
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  line-height: 47px;
  border-radius: 25px;
}

.main_nav a:hover,
a.active {
  background-color: var(--almost-black);
  color: var(--dusty-purple);
}

/*  -----  Typography  ----- */
p {
}
br {
}
ol,
ul,
dl {
}
li {
}
dt {
}
dd {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", cursive;
}
h1 {
  font-size: 500%;
}
h2 {
  font-size: 300%;
  margin: 0;
  padding: 1%;
  scroll-margin-top: 110px;
}
h3 {
  font-size: 125%;
}
h4 {
  font-size: 100%;
  margin: 0;
  padding: 1%;
}
h5 {
}
h6 {
}

abbr {
}
acronym {
}
address {
}
blockquote {
}
q {
}
cite {
}
em {
}
hr {
}
mark {
}
s {
}
span {
}
strong {
}
sub {
}
sup {
}
time {
}

/*  ----- Coding or instructional typography ----- */
pre {
}
code {
}
kbd {
}
samp {
}
var {
}
del {
}
ins {
}

/*  ----- Table ----- */
table {
  border: var(--almost-white);
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  color: var(--almost-black);
  margin: 0px;
  padding: 0px;
  border-radius: 12px;
  overflow: hidden;
}
caption {
  display: table-caption;
  text-align: center;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}
thead {
  font-size: 100%;
}
tbody {
  background-color: var(--almost-white);
}
tfoot {
}
tr {
}
tr:nth-child(even) td {
  background-color: #c8c4d3;
}
tr:nth-child(odd) td {
  background-color: var(--dusty-purple);
}
th {
  text-align: left;
  font-family: "Amatic SC", cursive;
  font-size: 26px;
  background-color: var(--dusty-purple);
}
td {
  text-align: left;
}
tr th,
tr td {
  border-bottom: 1px dotted var(--almost-black-);
  padding: 0.5% 1%;
  text-align: left;
}
td.id {
  font-weight: 600;
}

.insert_table tr:nth-child(even) td {
}

colgroup {
}
data {
}
datalist {
}

/*  ----- Form ----- */
form {
}
fieldset {
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top:;
  padding:;
}
legend {
  color:;
  padding-bottom: 10px;
  font-size:;
}
label {
  display: block;
  margin-top: 2%;
}

.button-container {
  display: flex;
  justify-content: flex-start !important;
}

input[type="integer"] {
  background-color: #c8c4d3;
  font-size: 110%;
  padding: 1%;
  font-family: inherit;
  border-radius: 30px;
  border-color: none;
  padding: 0 12px;
  min-height: 38px;
  border: none;
  width: 50px;
}

input.search {
  width: 300px;
}

input[type="text"],
input[type="number"],
input[type="date"],
button,
textarea,
select {
  font-size: 110%;
  padding: 1%;
  font-family: inherit;
  border-radius: 30px;
  padding: 0 12px;
  min-height: 38px;
  border: none;
}
textarea {
  height: 125px;
  padding-top: 13px;
}

.nameinput {
  height: 50px;
  width: 100%;
}

button {
}
input {
}

input:invalid {
  border: 3px solid red;
}
input:valid {
  /*border:2px solid;*/
}

input::placeholder {
  color: darkgray;
}
input[type="checkbox"]:checked + label {
  color: green;
  font-style: italic;
}
input:disabled {
  background: repeating-linear-gradient(
    142deg,
    #cccccc,
    #cccccc 4px,
    #999999 22px
  );
}
input:enabled {
}

.accent {
  background-color: var(--almost-black);
  color: var(--dusty-purple);
  border: 5px solid var(--dusty-purple);
  border-radius: 30px 30px 30px 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 12px;
  width: 60px;
  font-family: "Amatic SC", cursive;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  pointer-events: none;
}

.checkbox-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkbox-list label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-list input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

#remark {
  width: 320px;
  height: 120px;
}

.modify {
  background-color: var(--almost-black);
  color: var(--dusty-purple);
  border: none;
  cursor: pointer;
  border-radius: 30px 30px 30px 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 12px;
  width: 60px;
  font-family: "Amatic SC", cursive;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.modify:visited {
  color: var(--dusty-purple) !important;
}

.modify:active {
  color: var(--almost-black);
  background-color: var(--dusty-purple);
}
.modify:hover {
  background-color: var(--nice-green);
  color: var(--almost-black);
}
.cancel {
  background-color: var(--kinda-berry);
}

.confirm {
  background-color: var(--nice-green);
  color: var(--almost-white);
}

.filter {
  background-color: var(--almost-black);
  color: var(--dusty-purple);
  border: none;
  cursor: pointer;
  border-radius: 30px 30px 30px 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 12px;
  width: auto;
  font-family: "Amatic SC", cursive;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.filter:active {
  color: var(--almost-black);
  background-color: var(--dusty-purple);
}
.filter:hover {
  background-color: var(--nice-green);
  color: var(--almost-black);
}

.space {
  height: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions button {
  margin-left: 13px;
  width: 120px;
}

.image {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.image img {
  width: 40%;
  height: auto; /* Maintain the aspect ratio */
}

output {
}
meter {
}
progress {
}
select {
}
optgroup {
}
option {
}
textarea {
}
:focus {
  background-color: HoneyDew;
}
*:required {
  border: 2px solid green;
}

/* ----- Media ----- */
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 95%;
  margin: 1%;
  padding: 1%;
}

.gallery figure {
  border: solid;
  border-color: var(--almost-white);
  width: 320px;
  margin: 1%;
  padding: 0%;
}

.gallery figcaption {
  color: var(--almost-black);
  font-weight: bold;
  display: block;
  padding: 1% 1% 2% 1%;
}

.gallery img {
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
}
picture {
}
source {
}
iframe {
}
video {
}
audio {
}
embed {
}
object {
}

/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */

.floatright {
}
.floatleft {
}
.center-middle {
}

.ten {
}
.twenty {
}
.thirty {
}
.forty {
}
.fifty {
}
.sixty {
}
.seventy {
}
.eighty {
}

.radius {
}
.circle {
}
.boxshadow {
}
.tshadow {
}
.gradient {
}
.shape {
}

@keyframes App-logo {
}

/*   ===== PHONE  media query overrides mobile styles ===== */
@media all and (max-width: 600px) {
  h1 {
    font-size: 200%;
    padding: 2%;
  }
}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {
}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {
}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {
}
